---
layout: default
---

<p>Projects published here may now be infrequent as currently doing projects at The Glasgow School of Art for <a href="https://www.gsa.ac.uk/study/undergraduate-degrees/interaction-design/">Interaction Design</a>.</p>

<p>See work <a href="{{ site.baseurl }}/journal/year2/">here</a>.</p>

{% assign exhibitionPosts = site.posts | where_exp:"post", "post.categories contains 'exhibition'" %}

{% assign artworkPosts = site.posts | where_exp:"post", "post.categories contains 'artwork'" %}
{% assign postsByYear = artworkPosts | group_by_exp:"post", "post.date | date: '%Y'" %}



<div class="posts">
  <p>EXHIBITIONS ↴</p>
  <ul class="post-list">
    {% for post in exhibitionPosts.items %}
      <li><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>

  {% for year in postsByYear %}
    <p>{{ year.name }} ↴</p>
      <ul class="post-list">
        {% for post in year.items %}
          <li><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></li>
        {% endfor %}
      </ul>
  {% endfor %}
</div>

<!-- <div class="posts">
  {% for post in site.posts %}
    {% if post.categories contains "artwork" %}
      <article class="artwork">
        <a href="{{ site.baseurl }}{{ post.url }}" class="post-title">{{ post.title }} ↴</a>

        <div class="entry">
          <a href="{{ site.baseurl }}{{ post.url }}" class="read-more"><img src="{{ site.baseurl }}/images/artwork/preview/{{ post.image }}" style="width: 100vw"></a>
        </div>

      </article>
    {% endif %}
  {% endfor %}
</div> -->