---
layout: default
---

<div class="posts">
  {% for post in site.posts %}
    {% if post.categories contains "artwork" %}
      <article class="artwork">
        <a href="{{ site.baseurl }}{{ post.url }}" class="post-title">{{ post.title }} ↴</a>

        <div class="entry">
          <!--{{ post.excerpt }}-->
          <a href="{{ site.baseurl }}{{ post.url }}" class="read-more"><img src="{{ site.baseurl }}/images/artwork/preview/{{ post.image }}" style="width: 100vw"></a>
        </div>

      </article>
    {% endif %}
  {% endfor %}
</div>