---
---

//
// IMPORTS
//

@import "reset";
@import "variables";
// Syntax highlighting @import is at the bottom of this file

/**************/
/* BASE RULES */
/**************/


html {
  font-size: 100%;
  margin: 0px;
}

body {
	background: $background;//$white;
  font: 18px/1.4 $helvetica;
  color: $text;//$black;
  //margin: 5px;
}

#banner {
  position: absolute;
  transform: rotate(90deg);
  z-index: -1;
  //bottom: 0%;
  left:0%;
  width: 100px;
  padding: 0px;
}
.container {
  margin: 0 auto;
  max-width: 700px;
  padding: 0;
  width: 100%;
}


.post-list {
	position: relative;
	list-style: none;
	margin-left: 0;
	padding-left: 2em;
}

.post-list li:before {
	content: "•";
	position: absolute;
	left: 0.5em;
}

.post-title {
  font-family: $helveticaNeue;

  color: $text;//$black;
  
  line-height: 1.7;
  margin: 0.5rem 0 0;//1em 0 15px;
  padding: 0;

  @include mobile {
    line-height: 1.4;
  }
}
h1, h2, h3, h4, h5, h6 {
  font-family: $helveticaNeue;
  color: $text;//$black;
  font-weight: bold;

  line-height: 1.7;
  margin: 0.5rem 0 0;//1em 0 15px;
  padding: 0;

  @include mobile {
    line-height: 1.4;
  }
}

h1 {
  font-size: 30px;
  a {
    color: inherit;
  }
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 18px;
  color: $text;//$black;
}

p {
  margin: 15px 0;
}

a {
  color: $link;
  text-decoration: none;
	cursor: pointer;
  &:hover, &:active {
    color: $hover;
  }
}

ul, ol {
  margin: 15px 0;
  padding-left: 30px;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

ol ul, ul ol, ul ul, ol ol {
  margin: 0;
}

ul ul, ol ul {
  list-style-type: circle;
}

em, i {
  font-style: italic;
}

strong, b {
  font-weight: bold;
}

.vimeo {
  margin: 0px 5px;
}

// Fixes images in popup boxes from Google Translate
.gmnoprint img {
  max-width: none;
}

.date {
  font-style: italic;
  color: $gray;
}

// Specify the color of the selection
::-moz-selection {
  color: $text;
  background: $lightGray;
}
::selection {
  color: $text;
  background: $lightGray;
}

// .entry {
//   border-width: 0px;
//   border-style: solid;
//   border-color: $text;//$white;
// }

// https://codepen.io/maxakohler/pen/zBEdrM
.hasImage {
	display: flex;
	width: 100%;
  margin: 10px 0px;
  justify-content: center;
}

// Nicolas Gallagher's micro clearfix hack
// http://nicolasgallagher.com/micro-clearfix-hack/
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

/*********************/
/* LAYOUT / SECTIONS */
/*********************/

//
// .masthead
//

.wrapper-masthead {
  margin-bottom: 10px;//50px;
}

.masthead {
  padding: 20px 0;
  border-bottom: 1px solid $text;

  @include mobile {
    text-align: center;
  }
}

.site-avatar {
  float: left;
  width: 70px;
  height: 70px;
  margin-right: 15px;

  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
  }

  img {
    border-radius: 5px;
  }
}

.site-info {
  float: left;

  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
  }
}

// .miro {
//   position: absolute;
//   height: 100%;
//   width: 100%;
//   left: 0;
//   top: 0;
// }

// .miroDiv {
//   display: block;
//   margin: 0 auto;
//   width: 100%;
//   padding-top: 50%;
// }

.site-name {
  margin: 0;
  color: $text;
  //cursor: pointer;
  font-family: $helveticaNeue;
  font-weight: 300;
  font-size: 28px;
  letter-spacing: 1px;
}

.site-description {
  margin: -5px 0 0 0;
  color: $text;
  font-size: 16px;

  @include mobile {
    margin: 3px 0;
  }
}

nav {
  float: right;
  margin-top: 23px; // @TODO: Vertically middle align
  font-family: $helveticaNeue;
  font-size: 18px;

  @include mobile {
    float: none;
    margin-top: 9px;
    display: block;
    font-size: 16px;
  }

  a {
    margin-left: 20px;
    color: $text;
    text-align: right;
    font-weight: 300;
    letter-spacing: 1px;

    @include mobile {
      margin: 0 10px;
      color: $text;
    }
  }
}

//
// .main
//

.video-container {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
}
.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

// @media (min-width: 600px) {
//   .posts { grid-template-columns: repeat(2, 1fr); }
// }

// @media (min-width: 900px) {
//   .posts { grid-template-columns: repeat(3, 1fr); }
// }

.posts {
  display: inline;
  max-width: 100%;
  gap: 0 1rem;
}

.posts > .post {
  padding-bottom: 2em;
  border-bottom: 1px solid $text;
}

.posts > .post:last-child {
  padding-bottom: 1em;
  border-bottom: none;
}

.post {
  blockquote {
    margin: 1.8em .8em;
    border-left: 2px solid $text;
    padding: 0.1em 1em;
    color: $black;
    font-size: 22px;
    font-style: italic;
  }

  .comments {
    margin-top: 10px;
  }

  .read-more {
    text-transform: uppercase;
    font-size: 15px;
  }
}

// .wrapper-footer {
//   //margin-top: 50px;
//   //background-color: $lightGray;
// }

footer {
  //padding: 20px 0;
  text-align: center;
}

#background {
  width: 100vw;
  height: 100vh;
  background-color: transparent;
  position: fixed;
  z-index: -100;
  pointer-events: none;
}

canvas {
  position: fixed;
  pointer-events: none;
}

img, video {
  width: auto;
  max-height: 100vh;
  max-width: 100%;
  //max-width: 50%;
  //max-height: 100%;
  //width: auto;
  //width: 100%;
  //height: auto;
  display: block;
  min-width: 0;
  //margin: auto;
  padding: 0px 5px;
}

figure {
  display: flex;
  flex-flow: column;
  //max-width: 50%;
  //margin: 0 auto;
}

figcaption {
  text-align: center;
  word-wrap: anywhere;
  background: $lightGray;
  color: $black;
  margin: 0 5px;
  border-radius: 0px 0px 5px 5px;
  padding: 2%;

}

// .captionDiv {
//   position: relative;
//   max-width: 100%;
//   max-height: 100%;
//   width: auto;
//   height: auto;
//   display: block;
//   min-width: 0;
//   margin: 0px 5px;
// }

#mkLightboxContainer {
  position: fixed;
  left: 0;
  top: 0;
  min-height: 100vh;
  min-width: 100vw;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  box-sizing: border-box;
  z-index: 9;
  display: flex;
  align-items: center;
  justify-content: center;
}

#mkLightboxContainer > * {
  z-index: 99;
}

#overlay {
  position: absolute;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  box-sizing: border-box;
  background: rgba(0,0,0,.85);
  z-index: 0;
}

#mkLightboxContainer #mklbInner {
  position: relative;
  height: 100vh;
  transition: all .4s ease-in-out;
  margin-left: 0;
}

section.imageContainer {
  margin: 0;
  padding: 1em;
  box-sizing: border-box;
  border: none;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  float: left;
}

#mkLightboxContainer img,
#mkLightboxContainer video {
  background: #fff;
  box-shadow: 0 0 30px #222;
  max-height: 85vh;
  min-width: auto;
  max-width: 75vw;
  width: auto;
  height: auto;
  padding: 0;
}

#mkLightboxContainer #yt-video {
  width: 75vw;
  height: 42.1875vw; /* 75*9/16 */
}

.mklbItem:hover {
  cursor: pointer;
  font-style: italic;
}

#closeIconContainer {
  width: 25px;
  height: 25px;
  position: fixed;
  top: 15px;
  right: 15px;
  transition: transform .2s linear;
}

#closeIconContainer:hover {
  cursor: pointer;
  transform: rotate(90deg);
}

#closeIconContainer svg,
#prev svg,
#next svg,
#stopGallery svg, 
#playGallery svg{
  fill: white;
}

#prevContainer,
#nextContainer {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  padding: 10px 5px 10px 5px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .2s ease-in;
}

#nextContainer {
  left: auto;
  right: 0;
}

#prevContainer:hover,
#nextContainer:hover {
  cursor: pointer;
  background: rgba(0,0,0,0.25);
}

#prev,
#next {
  width: 35px;
  height: 35px;
}

.grid {
  display: grid;
  align-content: flex-start;
  grid-gap: 1em;
}

.grid-3 {
  grid-template-columns: repeat(3, 1fr);
}

.grid-4 {
  grid-template-columns: repeat(4, 1fr);
}

.grid figure {
  width: 100%;
  margin: 0;
}

.grid img {
  width: 100%;
}

#controlContainer {
  position: absolute;
  top: 1em;
  left: .5em;
  display: flex;
}

#controlContainer > div {
  width: 2em;
}

#controlContainer > div:hover {
  cursor: pointer;
}

#controlContainer #stopGallery,
#controlContainer.stop #playGallery{
  opacity: 0.5;
}

#controlContainer.stop #stopGallery,
#controlContainer #playGallery{
  opacity: 1
}

@media screen and (max-width: 768px){
  .grid-2-sm {
      grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 450px){
  .grid-12-xs {
      grid-template-columns: 1fr;
  }
}

// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
@import "highlights";
@import "svg-icons";


