<footer class="row">
    <div class="col-12">
        <p class="text-center">
            <!-- <a href="mailto:contact@allyradomski.art" class="fa fa-envelope"></a>
            <a href="https://www.instagram.com/allyradomskiart/" class="fa fa-instagram"></a>
            <a href="https://www.linkedin.com/in/ally-radomski-563217155/" class="fa fa-linkedin"></a>
            <br> -->
            &copy; {{ site.time | date: '%Y' }} Ally Radomski
            
        </p>
        
    </div>
    <!-- <div class="col-4">
        <p class="text-center">Something</p>
    </div>
    <div class="col-4">
        <p class="text-center">Something</p>
    </div> -->
    
</footer>