<nav class="navbar navbar-expand-sm bg-white">
    <div class="container-fluid p-0 px-lg-4">
        <a href="{{ site.baseurl }}/work" class="navbar-brand">
            <img class="" src="/assets/iconlow.png" id="brand-image" alt="Icon" width="auto" height="60em"> 
            <script>
                let element = document.getElementById("brand-image");
                let shadowAngle;
                let h;
                let v;
                let r;
                let g;
                let b;
                function updateDropshadow() {
                    const now = new Date();
                    const hours = now.getHours();
                    const minutes = now.getMinutes();
                    const totalMinutes = hours * 60 + minutes;

                    if (totalMinutes > 360 && totalMinutes < 1080) { // 06:00 - 18:00
                        shadowAngle = (totalMinutes - 360) / 720;
                    } else { // 18:00 - 06:00
                        shadowAngle = 1 - ((totalMinutes + 1440 - 1080) / 720 % 1);
                    }
                    shadowAngle = shadowAngle * 0.95;
                    h = Math.cos(shadowAngle * Math.PI) * -10;
                    v = Math.sin(shadowAngle * Math.PI) * 10;
                    if (totalMinutes == 360) {
                        h = h * -1;
                    }

                    percent = Math.sin(totalMinutes / 1440 * Math.PI);
                    r = 70 + 180 * percent;
                    g = 70 + 30 * percent;
                    b = 219 * (1 - percent);

                    element.style.filter = `drop-shadow(${h}px ${v}px 5px rgb(${r}, ${g}, ${b}))`;
                }
                setInterval(updateDropshadow, 60000);
                updateDropshadow();
                function mouseOver() {
                    element.style.filter = `invert(1) drop-shadow(${h}px ${v}px 5px rgb(${r}, ${g}, ${b}))`;
                    
                }
                function mouseOut() {
                    element.style.filter = `drop-shadow(${h}px ${v}px 5px rgb(${r}, ${g}, ${b}))`;
                }

                element.addEventListener("mouseout", mouseOut);
                element.addEventListener("mouseover", mouseOver);
            </script>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse py-2" id="navbarSupportedContent">
            <ul class="navbar-nav nav-underline ms-auto text-end">
                <li class="nav-item me-2">
                    <a class="nav-link" href="{{ site.baseurl }}/work">Work</a>
                </li>
                <li class="nav-item me-2">
                    <a class="nav-link" href="{{ site.baseurl }}/sketches">Sketches</a>
                </li>
                <li class="nav-item me-2">
                    <a class="nav-link" href="{{ site.baseurl }}/about">About</a>
                </li>
                <li class="nav-item dropdown-center me-2">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" role="button">Contact</a>
                    <!-- <button type="button" class="btn btn-link dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                        Action
                    </button> -->
                    <ul class="dropdown-menu dropdown-menu-end text-end">
                        <li><h6 class="dropdown-header">Contact me through any of these!</h6></li>
                        <li><a class="dropdown-item" href="mailto:contact@allyradomski.art">Email <span class="fa fa-envelope"></span></a></li>
                        <li><a class="dropdown-item" href="https://www.instagram.com/allyradomskiart/">Instagram <span class="fa fa-instagram"></span></a></li>
                        <li><a class="dropdown-item" href="https://www.linkedin.com/in/ally-radomski-563217155/">LinkedIn <span class="fa fa-linkedin"></span></a></li>
                    </ul>
                </li>

            </ul>
        </div>
    </div>
</nav>

<hr class="my-0 mx-0 mx-lg-4">

<!-- <hr> -->
<!-- <div class="container-fluid w-75">
    <h1>Ally Radomski</h1>
</div> -->