<nav class="navbar navbar-expand-sm bg-white">
    <div class="container-fluid p-0 px-lg-4">
        <a href="{{ site.baseurl }}/work" class="navbar-brand">
            allyradomski.art
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav nav-underline ms-auto text-end">
                <li class="nav-item me-2">
                    <a class="nav-link" href="{{ site.baseurl }}/work">Work</a>
                </li>
                <li class="nav-item me-2">
                    <a class="nav-link" href="{{ site.baseurl }}/about">About</a>
                </li>
                <li class="nav-item dropdown-center me-2">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" role="button">Contact</a>
                    <!-- <button type="button" class="btn btn-link dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                        Action
                    </button> -->
                    <ul class="dropdown-menu dropdown-menu-end text-end">
                        <li><h6 class="dropdown-header">Feel free to contact me through any of these!</h6></li>
                        <li><a class="dropdown-item" href="mailto:contact@allyradomski.art">Email <span class="fa fa-envelope"></span></a></li>
                        <li><a class="dropdown-item" href="https://www.instagram.com/allyradomskiart/">Instagram <span class="fa fa-instagram"></span></a></li>
                        <li><a class="dropdown-item" href="https://www.linkedin.com/in/ally-radomski-563217155/">LinkedIn <span class="fa fa-linkedin"></span></a></li>
                    </ul>
                </li>

            </ul>
        </div>
    </div>
</nav>

<hr class="my-0 mx-0 mx-lg-4">

<!-- <hr> -->
<!-- <div class="container-fluid w-75">
    <h1>Ally Radomski</h1>
</div> -->