
//
// VARIABLES
//

// Colors
$link: #00a9dd;
$hover: #00789c;
$background: #ffffff; //#eeeeee;
$text: #222222;

// Grays
$black: #000;
$darkerGray: #222;
$darkGray: #333;
$gray: rgb(195, 195, 195);
$lightGray: #eee;
$white: #fff;


// Font stacks
$helvetica: Helvetica, Arial, sans-serif;
$helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia: Georgia, serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}