---
layout: default
---

<h2>appreciations ♡</h2>
<h4>works that have inspired me</h4>
<div class="posts">
  {% for post in site.posts %}
    {% if post.categories contains "appreciation" %}
      <article class="artwork">
        <h4><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h4>

        <div class="entry">
          <!--{{ post.excerpt }}-->
          <a href="{{ site.baseurl }}{{ post.url }}" class="read-more"><img src="{{ site.baseurl }}/images/appreciation/preview/{{ post.image }}" style="width: 100vw"></a>
        </div>

      </article>
    {% endif %}
  {% endfor %}
</div>