---
layout: default
---

<!DOCTYPE html>
<html>
  <body>
    <div class="wrapper-masthead">
      <div class="container">
        <div class="site-info">
          <h1 class="site-name">learning journal</h1>
          <p class="site-description">the glasgow school of art - interaction design</p>
        </div>
        <header class="masthead clearfix">
          <nav>
            <a href="{{ site.baseurl }}/journal/year2">year 2</a>
            <a href="{{ site.baseurl }}/journal/year3">year 3</a>
            <a href="{{ site.baseurl }}/journal/year4">year 4</a>
          </nav>
        </header>
      </div>
    </div>

    <div id="main" role="main" class="container">
      {{ content }}
    </div>

    <script src="{{ site.baseurl }}/jquery.js"></script>
    <script>
      $('p:has(img)').addClass('hasImage');
      $('p:has(img)').addClass('img-zoomable');
    </script>
    
  </body>
</html>
