---
layout: default
---

<!DOCTYPE html>
<html>
  <body>
    <div class="wrapper-masthead">
      <div class="container">
        <header class="masthead clearfix">
          <nav>
            <a href="{{ site.baseurl }}/year2">year 1</a>
            <a href="{{ site.baseurl }}/year3">year 2</a>
            <a href="{{ site.baseurl }}/year4">year 3</a>
          </nav>
        </header>
      </div>
    </div>

    <div id="main" role="main" class="container">
      {{ content }}
    </div>
  </body>
</html>
